{% load static %}
<!doctype html>
<html class="home blog no-js" lang="en-US">

<head>
    <title>{% block title %}{% endblock title %} - by rightbros.co</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" media="all" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
        type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css" media="print" />
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
</head>

<body class="home sticky-menu sidebar-off" id="top">

    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer_widget.html' %}

    {% include 'includes/footer.html' %}
    {% include 'includes/search.html' %}

    <script>
        var ie9 = false;
    </script>
    <script src="{% static 'js/global-plugins.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>